
*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    user-select: none;
}

html {
    scroll-padding-top: 6.3rem;
}

body{
    background: #191919f5;
    width: 100%;
    padding: 1rem;
    /* height: 200vh; */
}

/* Universal Classes below */
.emptyDates{
    padding: 1rem;
    color: rgba(104, 103, 103, 0.849);
    cursor: pointer;
}

.heading{
    font-size: 5rem;
    padding: 1rem;
    /* letter-spacing: 5px; */
}

hr{
    border:none;
    height: 1px;
    background-color: gray;
}

.subheading{
    font-size: 1rem;
    color: rgb(177, 174, 174);
}

/* Universal Classes above */

header{
    position: sticky;
    top: 5px;
    height: 6rem;
    width: 100%;
    /* margin: 5px; */
    background: url(../assets/images/navbg.png)no-repeat center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.870);
    border-radius: 60px;
    display: flex;
    z-index: 999;
}

nav{
    display: flex;
    list-style: none;
    /* border: 2px solid red; */
    align-items: center;
    padding: 0.8rem;
    width: fit-content;
}

nav .navElements a{
    padding: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 8rem;
    color: rgba(255, 255, 255, 0.726);
    cursor: pointer;
}

nav .navElements a:hover{
    color: white;
}

nav img{
    width: 4rem;
    height: 4rem;
    padding: 0;
}

/* home section */
#home{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-top: 5px;
    /* border: 2px solid ; */
    height: 40rem;
    text-align: center;
    grid-template-areas:
    'logoArea homeText';
}

#logoImg{
    grid-area: logoArea;
    justify-self: right;
    align-self: center;
    width: 22rem;
    height: 22rem;
    padding: 2rem;
}

#homeText{
    grid-area: homeText;
    text-align: left;
    font-size: 1.3rem;
    padding: 5rem;
    align-content: center;
    line-height: 2rem;
    width: 40rem;
}

/* tr-102 section */
#tr102{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid; */
    height: 45rem;
    text-align: center;
    position: relative;
}

#trainingStart{
    position: absolute;
    font-size: 1.5rem;
    padding: 1rem;  
    top: 5px;
    left: 5px;
    color: white;
}

#trainingEnd{
    position: absolute;
    font-size: 1.5rem;
    padding: 1rem;
    top: 5px;
    right: 5px;
}

/* Calender Formatting */
#calender{
    display: flex;
    margin: 1rem;
}

#june,
#july{
    padding: 1rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #19191950;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#june h1,
#july h1{
    margin: 1rem;
}

.days{
    display: grid;
    font-size: 1.5rem;
    margin: 1rem;
    /* border: 1px solid ; */
    height: fit-content;
    grid-template-columns: repeat(7, 5rem);
}
.day{
    color: rgb(165, 163, 163);
}
.dates{
    display: grid;
    /* border: 1px solid ; */
    text-align: right;
    grid-template-columns: repeat(7, 5rem);
    height: fit-content;
}

.dateBox{
    padding: 1rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.801);
}

.dateBox:hover{
    text-decoration: underline;
    color: white;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid; */
    height: fit-content;
    text-align: center;
    position: relative;
    padding-bottom: 3rem;
}

#aboutContainer{
    font-size: 1.3rem;
    width: 60vw;
    text-align: justify;
    line-height: 3rem;
}

#aboutContainer ul{
    text-align: left;
}

#aboutContainer ul ul{
    list-style: none;
}

#aboutContainer a{
    text-decoration: none;
    color: aqua;
}

#aboutContainer a:visited{
    color: rgb(3, 121, 121);
}

#contactMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    text-align: center;
    /* position: relative; */
    padding-bottom: 3rem;
}

#contactBtnCont{
    margin: 4rem;
}
.logodivs{
    margin: 1rem;
}
@media only screen and (max-width: 1380px) {
    
    /* Universal Classes below */
    .emptyDates{
        padding: 0.6rem;
        padding-top: 1.5rem;
    }

    .dateBox{
        padding: 0.6rem;
        padding-top: 1.5rem;
    }

    .heading{
        font-size: 4.5rem;
    }

    .subheading{
        font-size: 1rem;
        color: rgb(177, 174, 174);
    }

    /* Universal Classes above */

    header{
        position: sticky;
        top: 5px;
        height: 6rem;
        width: 100%;
        /* margin: 5px; */
        background: url(../assets/images/navbg.png)no-repeat center;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.870);
        border-radius: 60px;
        display: flex;
        z-index: 999;
    }

    nav{
        display: flex;
        list-style: none;
        /* border: 2px solid red; */
        align-items: center;
        padding: 0.8rem;
        width: fit-content;
    }

    nav .navElements a{
        padding: 5px;
        font-size: 1.5rem;
        text-decoration: none;
        margin-left: 8rem;
        color: rgba(255, 255, 255, 0.726);
        cursor: pointer;
    }

    nav .navElements a:hover{
        color: white;
    }

    nav img{
        width: 4rem;
        height: 4rem;
        padding: 0;
    }

    /* home section */
    #home{
        height: 38rem;
    }

    /* tr-102 section */
    #tr102{
        height: 39rem;
    }

    #trainingStart{
        font-size: 1.4rem;
    }

    #trainingEnd{
        font-size: 1.4rem;
    }

    /* Calender Formatting */
    #calender{
        display: flex;
        margin: 0.8rem;
    }

    #june,
    #july{
        padding: 0.8rem;
        padding-bottom: 1.3rem;
        margin: 1rem;
    }

    #june h1,
    #july h1{
        margin: 0.8rem;
        font-size: 1.8rem;
    }

    .days{
        font-size: 1.3rem;
        margin: 0.7rem;
    }

    .dates{
        grid-template-columns: repeat(7, 4.8rem);
    }

}